<!-- <p>booking works!</p> -->

<!-- <div class="booking-list">
    <h2>Manage Bookings</h2>
    <ul>
      <li *ngFor="let booking of bookings">
        <h3>{{ booking.tourName }}</h3>
        <p>{{ booking.customerName }}</p>
        <button (click)="deleteBooking(booking.bookingId)">Delete Booking</button>
      </li>
    </ul> -->
    <!-- <div *ngIf="selectedTour"> -->
        <!-- <div *ngFor="let selectedTour of selectedTours">
      <h3>Book Tour: {{ selectedTour.name }}</h3>
      <form (ngSubmit)="onSubmit()">   
        <label for="customerName">Customer Name:</label>
        <input type="text" id="customerName" formControlName="customerName">
        
        <label for="hotel">Select Hotel:</label>
        <select id="hotel" formControlName="hotel">
          <option *ngFor="let hotel of selectedTour.hotels" [value]="hotel">{{ hotel }}</option>
        </select>
        
        <button type="submit">Book Tour</button>
      </form>
    </div>
  </div> -->
    <!-- Content from bookings.html
        <div class="booking-container">
          <h3>Completed Bookings</h3>
          <div id="booking-list" class="booking-list"></div>
        </div> -->
  
